.cardmenulg{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 1px;
    
    //background-color: purple;
    .btn-back{
        color: black;
        display: flex;
        width: 50%;
        align-items: center;
        .back{
            width: 50px;
            height: 5vh;
            display: flex;
            flex-direction: row;
        }
            h1{
                text-decoration: none;
                
            }
        
    }

.container-cardmenuLG{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    flex-direction: Row;
    justify-content: flex-start;
    align-items: center;
    line-height: 2px;
    //width: 90px;
    .img-cover{
        position: relative;
        flex-wrap: wrap;
        width: 260px;
        height: 260px;
        background: url('../../../../assets/svg/menucard.svg') no-repeat;
        background-size: 255px 260px;
        margin-top: 20px;
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 1px;
        //background-color: red;
        .img-cardmenu{
            position: absolute;
            object-fit: cover;
            width: 248px;
            height: 248px;
            top: 8px;
            left: 5px;
            border-radius: 55px 30px 50px 50px;
            //background-color: royalblue;
        }
    }
    
    .price-checkout{
        display: flex;
        flex-direction: column;
        line-height: normal;
        justify-content: flex-start;
        
        .price{
            display: flex;
            justify-content: flex-start;
            text-align: end;
            bottom: 20px;
            font-size: 24px;
            font-weight: bold;
            padding: 5px;
            
        }
        .title-menu{
            max-width: 408px;
            height: auto;
            font-size: 38px;
            text-align: start;
            //display: flex;
            align-items: center;
      //border: 1px solid #000000;
        }
        p{
            max-width: 400px;

        }

        .checkout{
            height: fit-content;
            margin: auto;
            padding: 7px;
            font-size: 14px;
            border-left: 6px solid #CDD4B6;
            background-color: lightgrey;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                transition: all .3s;
                border-left: 6px solid #3d4b42;
                font-weight: 500;
            }
        }
    }
}
}