.boxs{
    .btn-decidemenu{
        text-align: center;
        display: inline-block;
        background-color: #CDD4B6;
        padding: .75rem 1.25rem;
        font-size: 14px;
        color: black;
        border-radius: 10rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #CDD4B6;
            border-radius: 10rem;
            z-index: -2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #3d4b42;
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
        }
        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 960px){
    .boxs{
        .btn-decidemenu{
            z-index: 0;
        }
    }
}