.layer1{
    display: block;
    width: 358px;
    height: 421px;
    left: 830px;
    top: 205px;

    background: #506055;
    //border-radius: 85px 185px 150px 150px ;
    clip-path: polygon(0 0, 100% 0 , 89% 100%, 9% 100%);

}